@{var Style="~/Content/styles.css";}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="@Href(Style)">
    <title>@ViewBag.Title</title>
	<script src="Scripts/tableFuncs.js"></script>
	<script src="Scripts/DocDetail.js"></script>
	<script src="Scripts/angular.js"></script>
	<script src="Scripts/angular.min.js"></script>
	<script src="Scripts/jquery-3.1.0.min.js"></script>
	<script src="Scripts/jquery-3.1.0.js"></script>
	<script src="Scripts/app.js"></script>
	<script src="Scripts/MainController.js"></script>


</head>
	

<body>
	@RenderBody()
</body>
	
</html>

