@{ViewBag.Title="lol";}

<div class="bar"><div class="side-bar"><h3 class="centerText">Allen &amp; Overy</h3></div> <h3 class="centerText">Loan Portfolio Reports</h3>
       </div>
       <div class="underbar">
           <button class="save">Save</button>
           <a href="Loan_Portfolio.html" class="canc float-right">Cancel</a>
           <select class="quessy">
               <option value="Not Approved">Not Approved</option>
               <option value="Approved">Approved</option>
           </select>
           <span class="float-right">Report Status:</span>
           
           
       </div>
       
       <div class="maindiv2">
           <div class="miniwindiv">
               <div class="closebar">
                   <span class="centerText">Overview</span> <img src="Arrow.png" width="50" height="50" alt="expand or close overview">
                       </div>
               <div class="moo">
                   <div class="sideline">1.1</div>
                   
                   <form class="sec">
                       
                       <div class="upside-form">
                           <p>Allen &amp; Overy Client/Matter Number </p>
                           <input type="text" id="MattterNumber" name="MatterNumber">
                               </div>
                       <div class="upside-form">
                           <p>Allen &amp; Overy Client/Matter Number </p>
                           <input type="text" id="MattterNumber" name="MatterNumber">
                               </div>
                       <div class="upside-form">
                           <p>Allen &amp; Overy Client/Matter Number </p>
                           <input type="text" id="MattterNumber" name="MatterNumber">
                               </div>
                   </form>
                   <div class="sideline">1.2</div>
                   
                   <form class="sec">
                       
                       <div class="upside-form">
                           <p>Commonly Used Lender </p>
                           <input type="text" id="MattterNumber" name="MatterNumber">
                               </div>
                       <div class="upside-form">
                           <p>Allen &amp; Overy Client/Matter Number </p>
                           <input type="text" id="MattterNumber" name="MatterNumber">
                               </div>
                       <div class="upside-form">
                           <p>Allen &amp; Overy Client/Matter Number </p>
                           <input type="text" id="MattterNumber" name="MatterNumber">
                               </div>
                   </form>
               </div>
           </div>
           
           
       </div>
       
       <img id="eye" src="eyes.png" class="hider">
           <img id="duplicate1" src="duplicate.png" class="hider">
               <img id="duplicate2" src="duplicate2.png" class="hider">
       

